/* =================== 상품 이미지와 디테일 =================== */

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  box-sizing: border-box;
  transition: .3s;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 10px;
}

.product-container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.product-container div:first-child {
  width: 100%;
  height: 244px;
}

.product-container>div:first-child img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

}

.product-container img:first-child {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top: 10px;
}

.product-container .price-wish {
  font-weight: bold;
  font-size: var(--font-3);
}

.product-container .price-wish {
  display: flex;
  justify-content: space-between;
}

.product-container .price-wish {
  padding: 5px 5px 0;
}

.product-container .price-wish img {
  width: 18px;
  height: 18px;
}

.product-container .name {
  font-size: var(--font-2);
  padding: 0 5px ;
  height: 45px;
}

.product-container .time {
  font-size: var(--font-1);
  text-align: right;
  padding: 5px 5px ;
}

/* 상품카드 크기 조절 */

.product-wrap {
  display: grid;
  grid-template-columns:
    172px 172px;
  justify-content: space-between;
  row-gap: 70px;
  margin: 10px;
}

@media(min-width: 620px) {
  .product-wrap {
    display: grid;
    grid-template-columns:
      172px 172px 172px;
    justify-content: space-between;
    row-gap: 70px;
  }
}

@media(min-width: 768px) {
  .product-wrap {
    display: grid;
    grid-template-columns:
      172px 172px 172px 172px;
    justify-content: space-between;
    row-gap: 70px;
    margin: 0 30px;

  }
}

@media(min-width: 992px) {
  .product-wrap {
    display: grid;
    grid-template-columns:
      172px 172px 172px 172px;
    justify-content: space-between;
    row-gap: 70px;
    margin: 0 100px;
  }
}

@media(min-width: 1400px) {

  .product-wrap {
    display: grid;
    grid-template-columns:
      172px 172px 172px 172px 172px;
    row-gap: 70px;
    margin: 0 300px;
    /* width: inherit; */
  }



}




/* ============================== 상품 상세페이지 하단 고정 바============================== */

.bottom-bar-wrap {
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--color-light);
  box-shadow: 1px 0px 5px var(--color-dark);
}

.bottom-bar {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
}

.bottom-bar>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-bar>div img {
  width: 20px;
  height: 20px;
}