.main-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
}

.main-wrap>h1 {
    font-size: var(--font-4);
    border-bottom: 2px solid black;
}

.grid-menu {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    gap: 10px;
    font-size: var(--font-3);
    text-align: center;
    margin: 30px 0;
}

.step-wrap {
    margin: 0 45px;
    width: 300px;
}

.step-wrap>div:nth-child(2), 
.step-wrap>div:nth-child(3) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.63);
}

.step-wrap h2 {
    font-weight: bold;
    font-size: var(--font-4);
    color: var(--color-strong);
}

.qna-chk-wrap {
    margin: 40px 0 0;
    width: 350px;
}

.answer {
    background-color: gray;
    padding: 10px;
    border-radius: 10px;
}

.qna-chk-wrap>div {
    display: flex;
    margin-bottom: 15px;
    position: relative;
    align-items: center;
}

.qna-chk-wrap>div>label {
    cursor: pointer;
}

.qna-chk-wrap>div>label:nth-child(2) {
    padding-left: 5px;
}

/* ---------------------------------jihyeon */
.cramps{
    position: absolute;
    right: 0;
    top: 3px;
    transition: .5s;
    width: 8px;
    height: 16px;
    }


.qna-chk-wrap>div .cramps.active{
    transition: transform 1s;
    transform: rotate(90deg);
}

.qna-chk-wrap>div .cramps.active{
    display: block;
}